.contact {
    font-family: 'Inter';
    background-image: var(--contact-img); 
    background-size:contain;
    opacity:0.8;
    padding:1%;
}

.contact-container {
    display: flex;
    font-family:'Montserrat','sans-serif';
    font-weight:bold;
}

.contact-header {
    
    font-weight: 800;
    font-size: 210%;
}

.line {
    border-top: 0.5em solid #1c6ade;
    opacity: 1;
    border-radius:5px;
    margin-top:2%
}

.contact-name {
    font-size: 1.3em;
    font-weight: 600;
}

.contact-label {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 1%;
}

.contact-form {
    width: 80%;
    margin-left: 14%;
    margin-top: 3%;
}

.contact-input {
    margin-bottom: 2%;
}

#exampleFormControlTextarea1 {
    min-height: 70px;
}

.contact-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
}

@media (max-width: 720px) {
    .line {
        display: none;
    }

    .yellow-line {
        background-color: #fac310;
        height: 7%;
        width: 90%;
        margin-left: 6%;
    }

    .contact-form {
        margin-left: 6%;
    }
}