.disclosure-container {
    width: 85%;
    margin: 0px auto;
}

.disclosure-container > h2.disclosure-header {
    text-align: center;
    font-weight: 700;
    margin: 36px 0px;
}

.disclosure-container > div.disclosure-text-content > p {
    text-align: justify;
}

.table-container {
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #1c6ade;
    border-radius: 10px; 
    overflow: hidden;
  }
  
  th, td {
    border: none; 
    text-align: left;
    padding: 12px;
  }  
  
  th {
    background-color: #1c6ade; 
    color: white; 
    font-weight: bold; 
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  
  tr:nth-child(odd) {
    background-color: white; 
  }
  
  td {
    border-bottom: 1px solid #dddddd; 
  }
  
  tr:last-child td {
    border-bottom: none; 
  }